<div *ngIf='ticket != null'>
    <div class="row col-12">
        <div class="row col-10">
            <h1>{{ ticket.title }}</h1>
            <h1 class="text-muted" style="margin-left: 20px;"># {{ticket.ID}}</h1>
        </div>
        <div class="row col-2">
            <h1 class="text-muted">{{ ticket.timestamp | date }}</h1>
        </div>
    </div>

    <!-- Divider -->
    <div class="row col-12 horizontal-divider" @hstretch></div>

    <div class="row col-12">
        <div class="col-6">
            <p class="text-dark">{{ ticket.description }}</p>
        </div>
        <div class="col-6 vertical-divider">
            <p>Priority, Status, Other info</p>
            <div class="row">
                <div class="col-3">
                    <div ngbDropdown class="d-inline-block">
                        <div class="form-group">
                            <label for="priorityselect">Priority Level</label>
                            <select class="form-control" id="priorityselect">
                                <option (click)="setPriority(5)">None</option>
                                <option (click)="setPriority(0)">Emergency</option>
                                <option (click)="setPriority(1)">Very High</option>
                                <option (click)="setPriority(2)">High</option>
                                <option (click)="setPriority(3)">Medium</option>
                                <option (click)="setPriority(4)">Low</option>
                            </select>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-outline-primary" (click)="setStatus(1)">Work on Ticket</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-danger" (click)="setStatus(2)">Close Ticket</button>
                </div>
            </div>
        </div>
    </div>
</div>