<div *ngIf='ticket != null'>
    <div class="row col-12">
        <div class="row col-10">
            <h1>{{ ticket.title }}</h1>
            <h1 class="text-muted" style="margin-left: 20px;"># {{ticket.ID}}</h1>
        </div>
        <div class="row col-2">
            <h1 class="text-muted">{{ ticket.timestamp | date }}</h1>
        </div>
    </div>

    <!-- Divider -->
    <div class="row col-12 horizontal-divider" @hstretch></div>

    <div class="row col-12">
        <div class="col-6">
            <p class="text-dark">{{ ticket.description }}</p>
        </div>
        <div class="col-6 vertical-divider">
            <p>Priority, Status, Other info</p>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>

        </div>
    </div>
</div>