<div *ngIf='ticket != null'>
    <div class="row col-12">
        <div class="row col-10">
            <h1>{{ ticket.title }}</h1>
            <h1 class="text-muted" style="margin-left: 20px;"># {{ticket.ID}}</h1>
        </div>
        <div class="row col-2">
            <h1 class="text-muted">{{ ticket.timestamp | date }}</h1>
        </div>
    </div>

    <!-- Divider -->
    <div class="row col-12 horizontal-divider" @hstretch></div>

    <div class="row col-12">
        <div class="col-6">
            <p class="text-dark">{{ ticket.description }}</p>
        </div>
        <div class="col-6 vertical-divider">
            <p>Priority, Status, Other info</p>
            <p>{{ticket.prioritylevel | priority}}</p>
            <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle>Priority Level</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem (click)="setPriority(0)">Emergency</button>
                      <button ngbDropdownItem (click)="setPriority(1)">Very High</button>
                      <button ngbDropdownItem (click)="setPriority(2)">High</button>
                      <button ngbDropdownItem (click)="setPriority(3)">Medium</button>
                      <button ngbDropdownItem (click)="setPriority(4)">Low</button>
                      <button ngbDropdownItem (click)="setPriority(5)">None</button>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</div>