.ticket {
    margin-top: 15px;
    border: thin solid black;
    border-radius: 3px;
}

li {
    list-style-type: none;
}

.no-padding {
    padding: 0;
}

/* Keeps table from having random space above it*/
.table-bordered {
    border: 0;
}