<div class="row">
    <div class="col-12 no-padding">
        <p-table class="table table-hover table-sm table-bordered" [value]="tickets">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="prioritylevel">Priority <p-sortIcon field="prioritylevel"></p-sortIcon></th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
                <tr routerLink="/ticket/{{ticket.id}}">
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.title}}</td>
                    <td>
                        <p *ngIf="ticket.priorityLevel == 0" class="text-danger">{{ticket.priorityLevel | priority}}</p>
                        <p *ngIf="ticket.priorityLevel == 1" class="text-warning">{{ticket.priorityLevel | priority}}</p>
                        <div *ngIf="ticket.priorityLevel >= 2">
                            <p *ngIf="ticket.priorityLevel != 5">{{ticket.priorityLevel | priority}}</p>
                            <p *ngIf="ticket.priorityLevel == 5" class="text-muted">{{ticket.priorityLevel | priority}}</p>
                        </div>
                    </td>
                    <td>
                        <p *ngIf="ticket.status == 0" class="text-secondary">{{ticket.status | status}}</p>
                        <p *ngIf="ticket.status == 1" class="text-warning">{{ticket.status | status}}</p>
                        <p *ngIf="ticket.status == 2" class="text-muted">{{ticket.status | status}}</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>