<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <ul class="nav flex-column navbar-dark bg-light">
          <li class="nav-item">
            <a class="nav-link" routerLink="/ticket-list">Ticket List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-ticket">Create Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/delete-ticket">Delete Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-dark" routerLink="/ticket">Search</a>
          </li>
        </ul>
      </div>
  </div>
</div>