
<div class="content" role="main">
  <app-nav *ngIf="currentUser"></app-nav>

  <!-- Main row -->
  <div class="row">
    <div class="col-3" *ngIf="currentUser">
      <app-ticket-list></app-ticket-list>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
 <!-- when you click a ticket it should just router link -->
  
  <!-- Footer -->
  <footer class="page-footer" *ngIf="currentUser">
    <div class="text-white bg-dark">
      Copyright stuff. Contact me. Whatever.
    </div>
  </footer>
</div>