
<div class="content" role="main">
  <app-nav></app-nav>
  <!-- yep but let us put some row/col stuff in too -->

  
    <!-- col for left tickets-->
    <!-- col for right hand stuff -->
  <div class="row"><!-- main row for whole page-->
    <div class="col-3">
      <app-ticket-list></app-ticket-list>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>

  
  <!-- Footer -->
  <footer class="page-footer">
      Copyright stuff. Contact me. Whatever
  </footer>
</div>